body{
    color:whitesmoke;
    background:chocolate;
}
.heading{
    width:80%;
    font-size: 30px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: darkred;
}
#camera{
    border: 2px dotted darkred;
    width: 350px;
    height: 300px;
}